<div class="footer-dark dark" style="background-color: grey">
  <footer>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <h3>Nuestras redes</h3>
          <a href="" class="icon-redes"
            ><img src="./assets/img/facebook.png" alt="Facebook"
          /></a>
          <a href="" class="icon-redes"
            ><img src="./assets/img/Instagram.png" alt="Instagram"
          /></a>
          <a href="" class="icon-redes"
            ><img src="./assets/img/linkedin.png" alt="Linkedin"
          /></a>
        </div>

        <div class="col-sm-6 col-md-3">
          <h3>Somos Future Home</h3>
          <p>"Tus comodidad es nuestra mayor prioridad"</p>
        </div>

        <div class="col-sm-6 col-md-5 ">
        
          <h3>Nro. de Contacto</h3>
          <br>
          <a href="" class="icon-redes"><img src="./assets/img/phone.png" alt="Phone"></a>
          <p>0800-123321-08256</p> 
            <a href="" class="icon-redes"><img src="./assets/img/Whatsapp.png" alt="Whatsapp"></a>
        
          </div>
      </div>
  </footer>
</div>
