<main>
    <div class="ctn-card-home">
        <div class="ctn-title">
            <h4>Lleva Tus Inmuebles</h4>    
            <hr>
        </div>
        <div class="ctn-card">
            <div class="card">
                <div class="card-title">
                    <h3>Future Home</h3>
                    <hr>
                </div>
                <div class="card-img"></div>
                <a  href="inmuebles.html"class="card-button"><h3>Alquiler</h3></a>
            </div>
            <div class="card">
                <div class="card-title">
                    <h3>Future Home</h3>
                    <hr>
                </div>
                <div class="card-img"></div>
                <a  href="inmuebles.html"class="card-button"><h3>Comprar</h3></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="ctn-nosotros">
        <div class="ctn-title">
            <h1>Nosotros</h1>
            <hr>
        </div>
        <div class="ctn-description">
            <p>
                Somos future home una de las mejores inmobiliarias del pais , contamos con los mejores asesores a nivel nacional, uno de nuestro objetivos prioritarios es tu comodidad.
                <br>
                <br>
                En future home nos caracterizamos por ofrecer los mejor de los mejor.
            </p>
        </div>
    </div>
</main>